* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #3b3b3b;
}
.container {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 90%;
  color: white;
}
.quote_input {
  margin-top: 10px;
  width: 100%;
  height: 8rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  background: transparent;
  color: white;
  padding: 10px;
  resize: none;
}
.correct {
  color: lawngreen;
}
.incorrect {
  color: red;
  text-decoration: underline;
}
.timer {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 100px;
}
